.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Keep runtime dependencies required by Sharp
node_modules/**
!node_modules/sharp/**
!node_modules/@img/**